<h2 mat-dialog-title>Add new airport</h2>
<mat-dialog-content class="mat-typography">

    <form class="w-80" [formGroup]="frm" (ngSubmit)="onSubmit()">
        <div class="mb-6">
            <label for="airportName" class="block mb-2 text-sm font-medium text-gray-900">Airport name</label>
            <input type="email" id="airportName"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                required formControlName="airportName">
        </div>
        <div class="mb-6">
            <label for="airportCode" class="block mb-2 text-sm font-medium text-gray-900">Airport code</label>
            <input type="text"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                required formControlName="airportCode">
        </div>
        <div class="mb-6">
            <label for="airportCity" class="block mb-2 text-sm font-medium text-gray-900">Airport city</label>
            <input type="text" id="airportCity"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                required formControlName="airportCity">
        </div>
        <div class="mb-6">
            <label for="airportCountry" class="block mb-2 text-sm font-medium text-gray-900">Airport country</label>
            <input type="text" id="airportCountry"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                required formControlName="airportCountry">
        </div>
        <div class="text-end">
            <button type="submit" mat-button mat-dialog-close [disabled]="!frm.valid"
                class="text-white bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 disabled:opacity-50">
                Add Airport
            </button>
        </div>
    </form>

</mat-dialog-content>