<nav class="flex items-center justify-between">
    <div class="flex items-center">
        <a routerLink="/"> <img src="../../../assets/saattek-logo.jpg" alt=""
                class="object-cover w-14 h-1w-14 bg-transparent"></a>
        <a routerLink="/">
            <p class="ml-2">Saat Airlines</p>
        </a>
    </div>
    <div class="flex gap-x-2 text-lg">
        <a routerLink="/airports">Airports</a>
        <a routerLink="/routes">Routes</a>
        <a routerLink="/flights">Flights</a>
        <a routerLink="/login">Login</a>
    </div>
</nav>