<div class="pb-10">
    <div class="flex justify-between">
        <div>
            <p class="text-2xl mb-4">{{title}}</p>
        </div>
        <div>
            <button class="bg-indigo-600 p-2 rounded text-white hover:bg-opacity-90" (click)="openAddRouteModal()">New
                Route</button>
        </div>
    </div>

    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Id
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Source Airport
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Source Airport Code
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Source Airport City
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Source Airport Country
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Destination Airport
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Destination Airport Code
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Destination Airport City
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Destination Airport Country
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only">Edit</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let route of routeList">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{route.id}}
                    </th>
                    <td class="px-6 py-4">
                        {{route.source.name}}
                    </td>
                    <td class="px-6 py-4">
                        {{route.source.code}}
                    </td>
                    <td class="px-6 py-4">
                        {{route.source.city}}
                    </td>
                    <td class="px-6 py-4">
                        {{route.source.country}}
                    </td>
                    <td class="px-6 py-4">
                        {{route.destination.name}}
                    </td>
                    <td class="px-6 py-4">
                        {{route.destination.code}}
                    </td>
                    <td class="px-6 py-4">
                        {{route.destination.city}}
                    </td>
                    <td class="px-6 py-4">
                        {{route.destination.country}}
                    </td>
                    <td class="px-6 py-4 text-right">
                        <button class="font-medium text-blue-600 dark:text-blue-500 hover:underline"
                            (click)="openEditRouteModal(route)">Edit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>